{
  "Quik": {
    "Path": "C:\\QUIK Junior\\",
    "ClassCode": "QJSIM",
    "SecCode": "VTBR",
    "Account": "NL********",
    "PlaceDemoOrder": true,
    "PlaceDemoStopOrder": true,
    "CancelLastOrder": true
  }
}
